%h1 Listing apartments

%table(cellpadding="20")
  %tr
    %th ADDRESS
    %th Description
    %th Params
    %th Photos
    %th Actions

  - @apartments.each do |apartment|
    %tr
      %td
        = apartment.ru_address
        %br
        %br
        = apartment.en_address
        %br
        %br
        = apartment.ro_address
      %td
        = apartment.ru_description
        %br
        %br
        = apartment.ro_description
        %br
        %br
        = apartment.en_description
      %td
        = apartment.rooms
        = apartment.internet
        = apartment.washing_machine
        = apartment.num_persons
      %td
        - count = apartment.photos.count
        - if count == 0
          No photos
        - else
          Total photos:
          = count
          %br
          - apartment.photos.each do |photo|
            - next photo.file.thumb.url.nil? # TODO это надо починить
            = image_tag photo.file.thumb.url, :width => 50
      %td
        = link_to 'Show', [:admin, apartment] # admin_apartment(apartment)
        = link_to 'Edit', edit_admin_apartment_path(apartment)
        = link_to 'Destroy', [:admin, apartment], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Apartment', new_admin_apartment_path
