%ul.apartments
  - @apartments.each do |apartment|
    %li
      .four_images
        %ul.columns
          - Photo.where(:apartment_id => apartment.id).limit(4).all.each do |photo|
            %li
              = image_tag photo.file.thumb.url, :width => 167, :height => 125


      .description
        %h3
          = i18n_link_to apartment.address, "/apartments/#{apartment.id}" # apartments_path(apartment.id)
        .param
          %ul
            %li
              %strong
                = t(:id) + ':'
              = apartment.id

            %li
              %strong
                = t(:number_of_rooms) + ':'
              = apartment.rooms

            %li
              %strong
                = t(:number_of_persons) + ':'
              = apartment.num_persons
            %li
              %strong
                = t(:tv) + ':'
              = t apartment.tv
            %li
              %strong
                = t(:internet) + ':'
              = t apartment.internet
            %li
              %strong
                = t(:washing_machine) + ':'
              = t apartment.washing_machine
            %li
              %strong
                = t(:conditioner) + ':'
              = t apartment.conditioner
            %li
              %strong
                = t(:balcony) + ':'
              = t apartment.balcony.to_s
        .price
          %span
            €
          = apartment.price