.two_columns
  .left_column_apartment
    = red_h2 t(:apartment_id, :id => @apartment.id)
    .apartment-description
      #big-image
        = image_tag @apartment.photos.first.file.url, :width => 416, :height => 316, :id => 'big_image'
        #small-images
          %table
            %tr
              - Photo.where(:apartment_id => @apartment.id).limit(4).all.each do |photo|
                %td
                  = image_tag photo.file.thumb.url, :width => 95, :height => 71, :id => photo.id
            %tr
              - Photo.where(:apartment_id => @apartment.id).limit(4).offset(4).all.each do |photo|
                %td
                  = image_tag photo.file.thumb.url, :width => 95, :height => 71,:id => photo.id

      .description
        %h3
          -#%a{:href => '#'}
          = @apartment.address
        .param
          %ul
            %li
              %strong
                ID:
              = @apartment.id
            %li
              %strong
                Number of rooms:
              = @apartment.rooms
            %li
              %strong
                Number of persons:
              = @apartment.num_persons
            %li
              %strong
                TV:
              = t @apartment.tv
            %li
              %strong
                Internet:
              = t @apartment.internet
            %li
              %strong
                Washing machine:
              = t @apartment.washing_machine
            %li
              %strong
                Conditioner:
              = t @apartment.conditioner
            %li
              %strong
                Balcony:
              = t @apartment.conditioner
        .price
          %span
            €
          = @apartment.price
        .detailed-description
          -#- if I18n.locale == :en
          -#  = @apartment.en_description
          -#- if I18n.locale == :ro
          -#  = @apartment.ro_description
          -#- if I18n.locale == :ru
          -#  = @apartment.ru_description
          =  @apartment.description

      .additional-border

