!!!Strict
%html
  = javascript_include_tag 'jquery-1.5.min', 'rails', 'admin'
  %body
    .menu
      = link_to 'Pages','/admin/pages'
      = link_to 'Apartments','/admin/apartments'
      |
      = link_to 'Log out', '/users/sign_out'
      -#= current_user.email
    = yield


