!!!Strict
%html
  %head
  %title

  = javascript_include_tag 'jquery-1.5.min', 'rails', 'application' 
  = stylesheet_link_tag 'application', 'columns'

  %body
    .content
      = render 'shared/header'
      = yield

    %div(style="clear:both")
    .footer_border
    #footer
      %center
        .menu
          %span
            = i18n_link_to t(:contacts), '/contacts'
          %span
            = i18n_link_to t(:other_service), '/other_service'
          %span
            = i18n_link_to t(:terms_and_conditions), '/terms_and_conditions'
          %span
            = i18n_link_to t(:about_us), '/about_us'

        %br
        © Apartmentrent 2008 -  
        = Date.today.year